
h1{
    text-align: center;
    color: black;
    font-size: 30px ;
    
}
h2{
    color:black;
    font-size: 30px;
    margin-top: 3px;
    
}
.head{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
a{

     text-decoration: none;
     margin: 20px 20px;
     padding: 5px 5px;
     
     color: black;

}

header{
    position: fixed;
    display: flex;
    justify-content: left;
    background-color:rgb(184, 180, 180);
    text-align: center;
    width: 100%;
    height: 80px;
    margin-top: 0%;
}

.c1{

    display: flex;
    justify-content: space-evenly;
}
.index{
    background-color: brown;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
}
.sec2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

}
.new1{
    display: flex;
    justify-content: space-evenly;
}
.main{
    text-align:justify;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 380px;
    background-color: rgb(198, 229, 236);
    font-size: 25px;
    overflow: hidden;
}
.aside{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin-left:10px;

}
.index2{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(163, 155, 140);
    margin: 3px;

    justify-content: space-evenly;
    width: 100%;
    height: 120px;
}
.c2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;

    margin-bottom: 0%;

}
.index1{

    width: 100%;
    height: 100%;
    margin-left: 20px;
     border: 1px solid black;
     overflow: hidden;
     border-radius: 10px;
     
}

.mai2{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    background-color: white;
    
}
.q1{
    text-align:justify;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 180px;
    background-color: rgb(198, 229, 236);
    font-size: 25px;
    overflow: hidden;


}




.ss3{
    margin-top: 0%;
    display: flex;
    justify-content: space-evenly;
    
}
.dd1
{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(108, 133, 133);
}
.d1
{
 width: 400px;
 margin-bottom: 3%;
}
.d2
{
    width: 180px;
}
.d3{
    width: 180px;
}
#newid{
    background-image: url("https://media1.giphy.com/media/4xSODale0cDbSGhWB6/200w.webp");
    background-size: cover;
}
